<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Phone Book App</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/">Home</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="primary-area">
		<div class="col-md-6">
			<div class="card no-margin">

				<div class="table-responsive white">
					<h3 class="table-title p-20">Contacts</h3>

					<table class="table table-hover table-full table-full-small">
						<colgroup>
							<col class="auto-cell-size">
						</colgroup>
						<thead>
							<tr>
								<th>View</th>
                                <th>Edit</th>
								<th>Delete</th>
								<th>Name</th>
								<th>Mobile</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>

							<!-- ngRepeat: (key, item) in data -->
							<tr ng-repeat="(key, item) in data" class="ng-scope">
								<!-- <i class="material-icons">delete_forever</i>
              							<i class="material-icons">mode_edit</i> -->
                                <td><!--<img src="images/view_18px.svg"/>--><i class="material-icons" ng-click="viewItem(item,$event)">View</i></td>
								<td><!--<img src="images/edit_18px.svg"/>--> <i class="material-icons" ng-click="editItem(item,$event)">Edit</i></td>
								<td><!--<img src="images/delete_18px.svg"/>--><i class="md-highlight-remove" ng-click="showConfirm($event,item)">Delete</i></td>

								<!-- <td ng-bind-html="item.icon" class="f20 ng-binding"><i
									class="md md-attachment orange lighten-2 icon-color"></i></td> -->
								<td class="ng-binding" ng-bind = "item.name"></td>
								<td class="ng-binding" ng-bind = "item.no"></td>
								<td class="ng-binding" ng-bind = "item.email"></td>
							</tr>
							<tr>
								<td><!--<img src="images/add_18px.svg"/>--><i class="material-icons" ng-click="addItem($event)">Add</i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
