<md-dialog aria-label="Mango (Fruit)">
    <md-content class="md-padding">
        <form name="userForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label> Name</label>
                    <input ng-model="person.name" placeholder="Enter Name Here" ng-disabled="readOnly">
                </md-input-container>
            </div>
            <md-input-container flex>
                <label>Mobile</label>
                <input ng-model="person.no" name="mobile" ng-pattern="regExForMobile" ng-disabled="readOnly">
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Em@il</label>
                    <input ng-model="person.email" name="email" ng-pattern="regExForEmail" ng-disabled="readOnly">
                </md-input-container>
            </div>
        </form>
    </md-content>
    <label ng-show="userForm.mobile.$invalid" style="color:red"> -- Invalid Mobile No (Valid Eg: 0999-9999999)</label>
    <label ng-show="userForm.email.$invalid" style="color:red"> -- Invalid Email</label>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancel </md-button>

        <md-button ng-disabled="userForm.$invalid || readOnly" ng-click="save(userForm)" class="md-primary">
            Save </md-button>
    </div>
</md-dialog>